


  .Login_box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 30px 0px 30px;
    flex-direction: column;
    gap: 12px;
    width: 85%;
  }
  
 

  .login-button-c {
    margin: 20px 20px 30px 30px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #d3d3d3;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0.5px 3.5px 2px rgba(0, 0, 0, 0.2);
    width: 89%;
  }
  
  
  .or-row-c {
    display: flex;
    align-items: center;
    margin: 20px 0px 15px 0px;
    font-size: 13px;
    color: #777;
  }
  .or-row-c .line-c {
    flex: 1;
    height: 1px;
    width: 136px;
    background: #ccc;
    margin-left: 10px;
  }
  .or-text {
    margin: 0 8px;
    font-size: 10px;
  }
  .social-row {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
  }
  .social-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: #fff;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
  .footer-text-c {
    font-size: 10px;
    color: #555;
    text-align: center;
    line-height: 1.4;
    margin-top: 90px;
  }
  .footer-text-c a {
    color: #00aaff;
    text-decoration: none;
    font-size: 10px;
    margin: 0px;
  }

  .form-control.phone-input{
    width: 102%;
    border: #000 solid 1px;
  }

  .flag-dropdown{

    display: flex;
    width: 20%;
    justify-content: space-between;
    background: transparent;
    border: none;
  }

  .react-tel-input .flag-dropdown{
     display: flex;
    width: 20%;
    justify-content: space-between;
    background: transparent;
    border: none;

  }

  
  
.react-tel-input .flag-dropdown.open{
  outline: none;
  background: transparent;
}

.react-tel-input .country-list{

  margin-top:30px ;
}
  
.react-tel-input .flag-dropdown.open .selected-flag{
  background: transparent;
  border: none;

}

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus{
  background: transparent;
}