* {
  padding: 0rem;
  margin: 0rem;
}

.ImgDiv {
  display: flex;
  margin-top: -5.44rem; /* -87px */
  width: 100%;
  height: 80vh;
  background: url(./components/Other/Bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  flex-direction: column;
  
}

.Main {
  margin-top: 1.25rem; /* 20px */
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}



.Benfits {
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-auto-columns: 6.25rem; /* 100px */
  box-sizing: border-box;
  margin-right: 5rem;
}

.Benfits img {
  width: 2.56rem; /* 25px */
  height: 2.25rem; /* 20px */
  margin: 0.5rem 0.5rem;
  position: relative;
  top: -0.25rem;
}

.Benfits p {
  font-size: 1.25rem; /* 20px */
  font-family: "Inria Serif", serif;
  font-weight: 500;
  color: #fff;
  font-style: italic;
}

.Benfits div{
  display: flex;
  flex-direction: row;
  margin-left: 1.35rem;
  margin-right: 1.25rem;
  padding-bottom: 0.50rem;

}

.Benfits div div {
  flex-direction: unset;
  display: block;
}

.Benfits hr{
  border-top: 2px solid white;
}



.Weekend_Section{

  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.Weekend_Section p{
  font-family: "Inria Serif", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.75rem;
}